body {
	font-size: 1em;
	line-height: 1.2;
	font-weight: 400;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #242424;
	margin: 0;
	color: #cdcdcd;
}

.header {
	background-color: #1c1c1c;
	padding: 20px 20px 5px 20px;

	border-top: 1px solid #0d0d0d;
	border-bottom: 1px solid #333;
	border-width: 1px 0;
}

a {
	color: #1e9ee0;
	text-decoration: none;
	background-color: transparent;
}

h1 {
	text-align: center;
	color: #c5c5c5;
}

h2 {
	font-size: 2.0rem;
	line-height: 1.25;
	letter-spacing: -0.10rem;
}

h4 {
	font-size: 1.2rem;
	line-height: 1.35;
	letter-spacing: -0.05rem;
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
}

/* Landing Page Miner ------------------------------------------------------- */

#mining-start {
	text-transform: uppercase;
	font-size: 120%;
	display: inline-block;
}

h4.number-label {
	margin: 16px 0 0 0;
}

.action {
	cursor: pointer;
	color: #1e9ee0;
	text-decoration: none;
}

#miner h4.number-label,
#miner h2 {
	color: #6d6d6d;
}
#miner h4.number-label {
	max-width: 150px;
}

#miner.running h4.number-label,
#miner.running h2 {
	color: #aaa;
}

#mining-stats-container {
	position: relative;
	text-align: center;
	height: 96px;
	border-bottom: 1px solid #1d1c1c;

}

#mining-stats-canvas {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#mining-controls {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 22px 0;
}

#mining-start {
	text-transform: uppercase;
	font-size: 120%;
	display: inline-block;
}

#miner.running #mining-start {
	position: relative;
	z-index: 2;
	display: none;
}

#mining-stop {
	display: none;
}

#miner.running #mining-controls:hover #mining-stop {
	position: relative;
	z-index: 2;
	display: inline-block;
}

.mining-icon {
	width: 32px;
	height: 32px;
	vertical-align: -37%;
	margin-right: 4px;
}

.mining-icon .mining-stroke { stroke: #1e9ee0; }
.mining-icon .mining-fill { fill: #1e9ee0; }
.mining-button:hover .mining-icon .mining-stroke { stroke: #717171; }
.mining-button:hover .mining-icon .mining-fill { fill: #717171; }

#miner.stopped .action { color: #aaa; }
.mining-divide { font-size: 80%; color: #eee; }

#miner {
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.columns {
		margin-right: 40px;
		flex-shrink: 1;
		min-width: 90px;
	}
}

#mining-stats-container {
	max-width: 600px;
	margin: auto;
}

#mining-usd-accumulated {
	font-size: 1.0rem;
	line-height: 1.25;
	letter-spacing: 0;
	margin-top: 10px;
}

.details {
	max-width: 720px;
	margin: 0 auto;
	padding: 50px 20px 30px 20px;
}

.paypal {
	margin: 0 auto;
	padding: 5px;
	border-radius: 3px;
	width: 110px;
	background-color: #393939;
	border: 1px solid #1d1c1c;
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);

	img {
		display: block;
		margin: 0 auto;
		cursor: pointer;
		display: none;
	}
	input[type="image"] {
		margin: 0 auto;
		width: 100px;
	}
}